html {
    background: #303030;
    font-family: sans-serif;
    color: #f4f4f4;
    min-height: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    background-color: #111111;
    border-radius: 20px;
    margin-top: 30px;
    padding: 30px;
    width: 725px;
    display: flex;
    align-items: flex-start;
}

figure {
    flex-shrink: 0;
    margin: 0 20px 0 0;
}

figure img {
    height: 250px;
    border-radius: 20px;
}

figcaption {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

p {
    margin: 0;
    font-size: 24px;
}
